
<html>
  <body>
    <slot />

    <script is:inline>
      const buttons = document.querySelectorAll('[data-open]');
      const modals = document.querySelectorAll('dialog');

      buttons.forEach(btn => {
        btn.addEventListener('click', () => {
          const id = btn.dataset.open;
          const modal = document.getElementById(id);
          if (modal) modal.showModal();
        });
      });

      modals.forEach(modal => {
        const closeBtn = modal.querySelector('[data-close]');
        if (closeBtn) closeBtn.addEventListener('click', () => modal.close());
      });
    </script>
  </body>
</html>

